<div class= "container">
  <div class = "row">
    <h1> Liste de cocktails </h1>
  </div>

    <div class= "row">
      <% @cocktails.each do |cocktail| %>
        <div class= "col-lg-4 cocktails-cards">
           <img src="mojito.jpg"/'#{<%= cocktail.name %>}'/>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
          <%= link_to cocktail_path(cocktail), method: :delete do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
</div>

