body {
  background-image: url('new-background-unsplash.jpg');
  background-size: cover;
}

h1 {
 text-align: center;
 color : white;
}


.btn {
  background-color : #D2C8C6;
  font-family: avenir;
  border-radius : 15%;
}


