

<div class= "row">
<h1> New Ingredient </h1>
</div>
  <div class= "row">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <div class= "col-lg-4 ingredient-cards" style="background-image: url('mojito.jpg');">
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Go", class: "btn" %>
      </div>
    <% end %>
  </div>




