.col-lg-4.cocktails-cards {
  background-color : blue;
  padding : 50px;
  position: relative;
  margin: 30px;
  border-radius : 10%;
  height: 300px;
  border-radius: 5%;
  width: 300px;
}

a {
  color: black;
}

.card-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}


// .card {
//  background-color: #5C7893;
//  height: 300px;
//  border-radius: 5%;
//  width: 300px;
// }
